# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
# macOS
.DS_Store
*.DS_Store

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# data
src/bread/tests/data/
data/

# wandb
src/bread/tests/wandb/
src/bread/evaluations/wandb/

# png files in tests
src/bread/tests/*/*.png
src/bread/tests/*/*/*.png
src/bread/tests/*.pth
src/bread/tests/*.csv

# png files and charts in evaluations
src/bread/evaluations/*/*.png
src/bread/evaluations/*/*/*.png
src/bread/evaluations/*.pth
src/bread/evaluations/*.csv
src/bread/evaluations/*/*.html
src/bread/evaluations/*/*/*.html
src/bread/evaluations/*.html
